# Secrets
secrets.yml
.env

# Virtual environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Jupyter
.ipynb_checkpoints

# Data
data/
*.pkl
*.h5

# OS
.DS_Store
Thumbs.db